body {
background-color: #6868ba;
}

.App {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 20px;
}
.title {
  display: flex;
  align-items: center;
}

img {
  height: 40px;
}

input {
  margin-top: 20px;
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

input[type="submit"]{ 
  background:rgba(197,62,126,.33) ! important;
  cursor:pointer;
}

input[type="submit"]:hover{ 
  background:green ! important;
  cursor:pointer;
}